# frozen_string_literal: true

require 'spec_helper'

RSpec.describe Geo::<%= finder_class_name %>, feature_category: :geo_replication do
  it_behaves_like 'a framework registry finder', :geo_<%= file_name %>_registry
end
