.registration-marketing-panel-illustration {
  max-height: 348px;
}

.registration-marketing-panel-bg-gradient {
  background: linear-gradient(180deg, transparent 0%, #E4E0ED 100%);

  // stylelint-disable-next-line gitlab/no-gl-class
  .gl-dark & {
    background: linear-gradient(180deg, transparent 0%, #61567B 100%);
  }
}

.registration-marketing-panel-illustration--dark {
  display: none;

  // stylelint-disable-next-line gitlab/no-gl-class
  .gl-dark & {
    display: block;
  }
}

.registration-marketing-panel-illustration--light {
  // stylelint-disable-next-line gitlab/no-gl-class
  .gl-dark & {
    display: none;
  }
}
