# frozen_string_literal: true

module Types
  module Geo
    # rubocop:disable Graphql/AuthorizeTypes -- because it is included
    class <%= registry_type_class_name %> < BaseObject
      graphql_name '<%= registry_class_name %>'

      include ::Types::Geo::RegistryType

      description 'Represents the Geo replication and verification state of a `<%= file_name %>`'

      field :<%= foreign_key_name %>, GraphQL::Types::ID, null: false,
        description: 'ID of the <%= replicable_title %>.'
    end
    # rubocop:enable Graphql/AuthorizeTypes
  end
end
